<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserEnroll</servlet-name>
    <servlet-class>servlet.UserEnroll</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserModify</servlet-name>
    <servlet-class>servlet.UserModify</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserUpdate</servlet-name>
    <servlet-class>servlet.UserUpdate</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserDel</servlet-name>
    <servlet-class>servlet.UserDel</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserAdd</servlet-name>
    <servlet-class>servlet.UserAdd</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ValidateCode</servlet-name>
    <servlet-class>servlet.ValidateCode</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WeatherDisplay</servlet-name>
    <servlet-class>servlet.WeatherDisplay</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WeatherDel</servlet-name>
    <servlet-class>servlet.WeatherDel</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProvinceAdd</servlet-name>
    <servlet-class>servlet.ProvinceAdd</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProvinceDel</servlet-name>
    <servlet-class>servlet.ProvinceDel</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WeatherAdd</servlet-name>
    <servlet-class>servlet.WeatherAdd</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserWeatherDisplay</servlet-name>
    <servlet-class>servlet.UserWeatherDisplay</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminWeatherDisplay</servlet-name>
    <servlet-class>servlet.AdminWeatherDisplay</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageAdd</servlet-name>
    <servlet-class>servlet.MessageAdd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageDisplay</servlet-name>
    <servlet-class>servlet.MessageDisplay</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckUserServlet</servlet-name>
    <servlet-class>servlet.CheckUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserEnroll</servlet-name>
    <url-pattern>/UserEnroll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserModify</servlet-name>
    <url-pattern>/UserModify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserUpdate</servlet-name>
    <url-pattern>/UserUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserDel</servlet-name>
    <url-pattern>/UserDel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAdd</servlet-name>
    <url-pattern>/UserAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValidateCode</servlet-name>
    <url-pattern>/ValidateCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WeatherDisplay</servlet-name>
    <url-pattern>/WeatherDisplay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WeatherDel</servlet-name>
    <url-pattern>/WeatherDel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProvinceAdd</servlet-name>
    <url-pattern>/ProvinceAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProvinceDel</servlet-name>
    <url-pattern>/ProvinceDel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WeatherAdd</servlet-name>
    <url-pattern>/WeatherAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserWeatherDisplay</servlet-name>
    <url-pattern>/UserWeatherDisplay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminWeatherDisplay</servlet-name>
    <url-pattern>/AdminWeatherDisplay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageAdd</servlet-name>
    <url-pattern>/MessageAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageDisplay</servlet-name>
    <url-pattern>/MessageDisplay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckUserServlet</servlet-name>
    <url-pattern>/CheckUserServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
</web-app>