<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name></display-name>



	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>servlet.Login</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UserEnroll</servlet-name>
		<servlet-class>servlet.UserEnroll</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UserModify</servlet-name>
		<servlet-class>servlet.UserModify</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ValidateCode</servlet-name>
		<servlet-class>servlet.ValidateCode</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>WeatherDisplay</servlet-name>
		<servlet-class>servlet.WeatherDisplay</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MessageAdd</servlet-name>
		<servlet-class>servlet.MessageAdd</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckUserServlet</servlet-name>
		<servlet-class>servlet.CheckUserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>DownLoadServlet</servlet-name>
		<servlet-class>servlet.DownLoadServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ListFileServlet</servlet-name>
		<servlet-class>servlet.ListFileServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UploadHandleServlet</servlet-name>
		<servlet-class>servlet.UploadHandleServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>DataShopping</servlet-name>
		<servlet-class>servlet.DataShopping</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UserManagement</servlet-name>
		<servlet-class>servlet.UserManagement</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UIServlet</servlet-name>
		<servlet-class>servlet.UIServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>WeatherServlet</servlet-name>
		<servlet-class>servlet.WeatherServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ProvinceServlet</servlet-name>
		<servlet-class>servlet.ProvinceServlet</servlet-class>
	</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Listener</servlet-name>
    <servlet-class>servlet.Listener</servlet-class>
  </servlet>

	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserEnroll</servlet-name>
		<url-pattern>/UserEnroll</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserModify</servlet-name>
		<url-pattern>/UserModify</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ValidateCode</servlet-name>
		<url-pattern>/ValidateCode</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeatherDisplay</servlet-name>
		<url-pattern>/WeatherDisplay</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MessageAdd</servlet-name>
		<url-pattern>*.message</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckUserServlet</servlet-name>
		<url-pattern>/CheckUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownLoadServlet</servlet-name>
		<url-pattern>/DownLoadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListFileServlet</servlet-name>
		<url-pattern>/ListFileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadHandleServlet</servlet-name>
		<url-pattern>/UploadHandleServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DataShopping</servlet-name>
		<url-pattern>/DataShopping</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserManagement</servlet-name>
		<url-pattern>*.user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UIServlet</servlet-name>
		<url-pattern>*.ui</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeatherServlet</servlet-name>
		<url-pattern>*.weather</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProvinceServlet</servlet-name>
		<url-pattern>*.province</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>Listener</servlet-name>
    <url-pattern>*.listener</url-pattern>
  </servlet-mapping>

	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
</web-app>